<div class="container">
  <mat-card class="carousel-card">
    <div class="container">
      <div class="carousel img">
        <div class="carousel__face"><span>RestFull APIs</span></div>
        <div class="carousel__face"><span>Clean Architecture</span></div>
        <div class="carousel__face"><span>Big Data</span></div>
        <div class="carousel__face"><span>Cloud Computing</span></div>
        <div class="carousel__face"><span>Migrations</span></div>
        <div class="carousel__face"><span>Docker containers</span></div>
        <div class="carousel__face"><span>Bring agility</span></div>
        <div class="carousel__face"><span>Custom Solutions</span></div>
        <div class="carousel__face"><span>Gateways</span></div>
      </div>
    </div>
  </mat-card>
</div>
