footer {
  background: linear-gradient(to bottom, #ffffff 0%, #9e007e 15%);
  text-shadow: 1px 1px 1px #000;
  padding: 1px 0;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 14px;
}

footer p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .whats {
    width: 35px;
    height: auto;
    margin: 0 0 6% 90%;
    position: fixed;
    bottom: 0;
  }
}
