@keyframes shake {
  0% {
    transform: translateX(0);
  }
  2% {
    transform: translateX(-1px);
  }
  4% {
    transform: translateX(1px);
  }
  6% {
    transform: translateX(-1px);
  }
  8% {
    transform: translateX(1px);
  }
  10% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes showMessage {
  0%,
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  11%,
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.msg {
  position: absolute;
  top: 5px;
  left: 220px;
  transform: translateX(-50%);
  background-color: #ffeb3b;
  color: #000;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  animation: showMessage 7s infinite;
  z-index: 1;
}

//// ----------------------------------------->>

@keyframes colorChange {
  0% {
    background: linear-gradient(
      45deg,
      #ffeb3b,
      #ff5722ff,
      #2182cd,
      #9f03aa,
      #ff5722
    );
    background-size: 100% 200%;
  }
  14.28%,
  85.72% {
    background: linear-gradient(
      45deg,
      #2182cd,
      #9f03aa,
      #ff5722,
      #ffeb3b,
      #b15cd5
    );
    background-size: 120% 200%;
  }
  28.56%,
  71.44% {
    background: linear-gradient(
      45deg,
      #2182cd,
      #9f03aa,
      #ffeb3b,
      #ff5722,
      #b15cd5
    );
    background-size: 100% 200%;
  }
  42.84%,
  57.16% {
    background: linear-gradient(
      45deg,
      #2182cd,
      #ffeb3b,
      #9f03aa,
      #ff5722,
      #b15cd5
    );
    background-size: 120% 200%;
  }
  57.12%,
  42.88% {
    background: linear-gradient(
      45deg,
      #ffeb3b,
      #2182cd,
      #9f03aa,
      #ff5722,
      #ff5722
    );
    background-size: 100% 200%;
  }
  100% {
    background: linear-gradient(
      45deg,
      #2182cd,
      #ffeb3b,
      #9f03aa,
      #ff5722,
      #b15cd5
    );
    background-size: 100% 200%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container-text {
  display: flex;
  flex-direction: row;
}
.flex-container-icons {
  animation: colorChange 60s infinite;
  background-size: 100% 100%;
}

.flex-container-movie {
  display: flex;
  flex-direction: row;
}

.flex-container-rainbow {
  display: flex;
  flex-direction: row;
  animation: colorChange 60s infinite;
  background-size: 100% 100%;
}

.toast-header-functs {
  width: 100%;
  height: auto;
  background: #010128;
}

.flex-item-icon {
  text-align: center;
}

.flex-item {
  flex: 1;
}

.inline {
  display: inline-flex;
  position: absolute;
  line-height: 0;
  width: 50%;
  height: 50px;
  margin-top: -15px;
  align-items: flex-end;
}

.btn-stripe {
  display: inline-block;
  position: absolute;
  top: 3px;
  margin: 0px 0px 0px 150px;
  padding: 3px 10px 2px 10px;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px #000000;
  background-color: #010128;
  border: 1px solid white;

  animation: shake 7s infinite;
  animation-timing-function: ease-in-out;
}

.btn-toggle {
  display: inline-block;
  position: absolute;
  top: 8px;
  background-color: #da0099;
  color: white;
  border: none;
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000000;
  line-height: 1;
  margin: 0 0 0 20px;
  box-shadow: 1px 1px 1px 1px #010128;
}

.btn-stripe:hover {
  background-color: #2182cd;
  color: white;
}

.btn-toggle:hover {
  background-color: #2182cd;
}

.social-icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10% 5px;
}

.social-icon-item {
  flex: 0 0 auto;
  text-align: center;
}

.social-icon {
  width: 8vw;
  height: auto;
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .social-icon {
    width: 15vw;
  }
}

.card-link {
  font-weight: bold;
  color: #f7f5f5;
  text-decoration: none;
}

.shadow-line {
  height: 6px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
  border-radius: 4px;
}

.card.bg-secondary.mb-3 {
  max-width: 100% !important;
  margin: 0 auto !important;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 5px 10px 6px 10px !important;
  margin-bottom: 0;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: normal;
  color: #425466; // 098cf1 93cefa bcc0c3
  background: linear-gradient(to bottom, #ffffff 90%, #bcc0c3);
}

.card-text:empty {
  text-align: left;
  margin-bottom: 0;
}

.container {
  max-width: 100% !important;
  margin: 0 auto !important;
}

.icons {
  width: 10%;
  height: auto;
}

.plan {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}

.icon {
  display: block;
  width: 75px;
  height: auto;
  margin: 0 auto;
}

.clients {
  width: 100%;
  height: auto;
  margin: 0 !important;
  display: block;
}

.clients-rainbow {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.iframe {
  max-width: 100% !important;
  margin: 0 auto !important;
}

.card-body-text {
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

h2,
h3,
p {
  margin: 0 0 1rem 10px;
}

.title {
  padding-top: 0.8%;
  color: #101539;
  font-weight: bold;
  font-size: 1.5rem;
}

.text {
  color: #101539;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.card-header {
  text-align: center;
}

.card-title {
  text-align: center;
}

//------------------------- SLIDER -------------------------//
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box;

  .carousel-slide {
    display: none;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  .carousel-slide.active {
    display: block;
    animation: fade 1s;
  }

  .carousel-slide,
  .carousel-slide img {
    margin: 0;
    padding: 0;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

.bottom-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background: #fff;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0 0;
  transition: all 0.3s ease-in-out;
}

.luxury-heading {
  font-family: "Gloock", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #2c2a29;
  margin-bottom: 0.3em;
  text-transform: capitalize;
}

.luxury-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #6b5b3b;
  line-height: 1.5;
  opacity: 0.85;
  margin: 0;
}

.buttons {
  margin-top: 15px;
}

.btn {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 3px 8px;
}

.btn.primary {
  background-color: #010128;
  color: #fff;
  box-shadow: 0 4px 12px rgba(255, 199, 39, 0.4);
  border: 2px solid #bababa;
}
.btn.primary:hover {
  background-color: #665cfd;
  color: #010128;
  transform: translateY(-2px);
  border: 2px solid #010128;
}

.btn.secondary {
  background-color: #1fa016;
  color: #fff;
  border: 2px solid #bababa;
}
.btn.secondary:hover {
  background-color: #000018;
  color: #1fa016;
  border-color: #1fa016;
  transform: translateY(-2px);
}

/* Responsividade */
@media (max-width: 768px) {
  .bottom-center {
    width: 80%;
    border-radius: 10px;
  }
  .btn {
    margin: 5px;
  }
}
@media (max-width: 414px) {
  .bottom-center {
    width: 95%;
    border-radius: 10px 10px 0 0;
  }
  .btn {
    width: 100%;
    margin: 5px 0;
  }
}

//------------------ END-SLIDER ---------------------------//

// --------------- Media query ------------->
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container-rainbow {
    flex-direction: column;
    margin: 0 auto !important;
  }

  .clients-rainbow {
    width: 80%;
    height: auto;
    margin-bottom: 0;
    display: block;
  }

  body {
    font-size: 14px;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  .card-text,
  .card-title {
    font-size: 0.875rem;
  }

  .inline {
    display: inline-flex;
    position: absolute;
    line-height: 0;
    width: 100%;
    height: 50px;
    margin-top: -35px;
    align-items: flex-end;
  }

  .card-icon {
    font-size: 1rem;
  }
}
