<div class="flex-container">
  <div class="flex-item">
    <div class="card">
      <div class="toast-header">
        <div class="card-body">
          <a
            class="card-link"
            href="https://wa.me/5547997517753"
            class="btn btn-whatsapp"
            >WhatsApp</a
          >
        </div>
      </div>
      <div class="card-body">
        <img class="plan" src="assets/stripe.png" alt="plan" />
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="card">
      <div class="card-body toast-header">
        <div class="card-body">
          <a
            class="card-link"
            href="https://stripe.com/en-br"
            class="btn btn-stripe"
            >by Stripe</a
          >
        </div>
      </div>
      <div class="card-body">
        <div class="card-body-text">
          <h2 class="titulo">Aceite e otimize pagamentos globalmente</h2>
          <p class="texto">
            Implemente Stripe e aumente as taxas de autorização, otimize a
            conversão no checkout e ofereça formas de pagamento locais em todos
            os mercados.
          </p>

          <h2 class="titulo">Obtenha receitas recorrentes</h2>
          <p class="texto">
            Atenda modelos de negócios recorrentes, minimize a perda de clientes
            e <br />
            automatize as operações financeiras.
          </p>

          <h2 class="titulo">
            Um pacote totalmente integrado de produtos para gestão<br />financeira
            e pagamentos.
          </h2>
          <p class="texto">
            Reduza custos, aumente a receita e administre sua empresa com
            mais<br />
            eficiência em uma plataforma totalmente integrada. Para gerenciar
            <br />
            todas as suas necessidades de pagamento e operações de receita.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
