<nav class="navbar back-animation">
  <div class="navbar-content">
    <a class="navbar-brand" href="#">
      <div class="logo">b1010code</div>
    </a>
    <div class="navbar-icons">
      <a href="https://github.com/gilberto-domingos" target="_blank">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="https://www.linkedin.com/in/gilberto-domingos/" target="_blank">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="https://www.facebook.com/gil.Domingos.jr/" target="_blank">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
    </div>
  </div>
</nav>
